* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
body {
  background: azure;
}
form {
  background: linear-gradient(
    90deg,
    rgba(180, 70, 58, 1) 0%,
    rgba(253, 29, 29, 1) 40%,
    rgba(252, 130, 69, 1) 80%
  );

  padding: 50px;
  margin: 50px auto;
  border-radius: 15px;
}

label {
  font-weight: bold;
}
